



<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://bossanova.uk/jsuites/v3/jsuites.js"></script>
    <link rel="stylesheet" href="https://bossanova.uk/jsuites/v3/jsuites.css" type="text/css" />
 <style>
      @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.container{
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
{{!-- .user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #4d6600;
} --}}
#gender {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

#gender option {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
 form .button{
   height: 45px;
   margin: 35px 0
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #71b7e6, #9b59b6);
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
  }



  .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
/* input[type="file"] {
    display: none;
} */

@media(max-width : 1200px) {
  body {
    height : 100vh;
  }
  .content form .user-details{
    max-height: 700px;
    overflow-y: scroll;
  }
}
 @media(max-width: 584px){
  body {
    height : 100vh;
  }
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}

    </style>


     <title>Edit Details</title>
   </head>
<body>
  <div class="container">
    <div class="title">Edit Information</div>
    <div class="content">
      <form action="/user/edit" method="POST">
        <div class="user-details">
          <div class="input-box">
            <span class="details">First Name</span>
            <input type="text" placeholder="Enter your first name" name = "Fname" value="{{user.Fname}}" id="f-name">
          </div>
          <div class="input-box">
            <span class="details">Last Name</span>
            <input type="text" placeholder="Enter your last name"  name = "Lname" id="l-name" value="{{user.Lname}}">
          </div>
          <div class="input-box">
            <span class="details">Role</span>
            <select name="role" id="gender">
              <option value="user">User</option>
              <option value="admin">Admin</option>
            </select>
          </div>
          <div class="input-box">
            <span class="details">Phone Number</span>
            <input type="number" placeholder="Enter your number" name = "Phone" value="{{user.Phone}}" id="number">
          </div>


          <div class="input-box">
            <span class="details">Home Address</span>
            <input type="text" placeholder="Enter Your Address" name = "Address" id="number" value="{{user.Address}}">
          </div>
          <div class="input-box">
            <span class="details">Employee State Insurance(ESI)</span>
            <input type="text" placeholder="Employee State Insurance" name = "esi" id="number" value="{{user.esi}}">
          </div>

             <div class="input-box">
            <span class="details">Employee Id</span>
        <input type="text" placeholder="Enter Your Employee Id" name = "EmployeId" value = "{{user.EmployeId}}"id="number" >
          </div>
          <div class="input-box">
            <span class="details" id="dob-title">Date of Joining</span>
            <input type="text" placeholder="Joining Date(DD-MM-YYYY)"  id="dob" value="{{user.joiningDate}}" name = "joiningDate">
          </div>
              <div class="input-box">
            <span class="details">Department</span>
            <select name = "Department" id="gender" value="{{user.Department}}">
              <option value="none" disabled selected="selected">--Select Department--</option>
              <option value="Accounts & Finance">Accounts & Finance</option>
              <option value="Consulting">Consulting</option>
              <option value="Development">Development</option>
              <option value="G-Suite">G-Suite</option>
              <option value="Helpdesk">Helpdesk</option>
              <option value="Implementation">Implementation</option>
              <option value="Marketing">Marketing</option>
              <option value="Sales">Sales</option>
            </select>
          </div>
          <div class="input-box">
            <span class="details">Designation</span>
            <input type="text" placeholder="Enter Your Designation" name = "Designation" value="{{user.Designation}}" id="number" >
          </div>
          <div class="input-box">
            <span class="details">Provident Fund</span>
            <input type="text" placeholder="Provident Fund" name = "pv" value="{{user.pv}}" id="number" >
          </div>
          <div class="input-box">
            <span class="details">Universal Account Number(UAN)</span>
            <input type="text" placeholder="Universal Account Number" name = "uan" value="{{user.uan}}" id="number" >
          </div>
         
        </div>

        <div class="button">
        <input type="submit" value="Save Changes" id="btn" >
        </div>
      </form>
    </div>
  </div>
</body>

</html>
